<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=content-width" />
    <title>Online Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>


<body>
    <!--Add navbar-->
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Online Bookstore</span>
    </div>

    <div class="m-1 p-1">
        @RenderBody()
    </div>
 </body>


</html>