<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<body>
    <!--Add navbar-->
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Online Bookstore</span>
    </div>

    <!--Add vertical nav menu and get website info-->
    <div class="row m-1 p-1">
        <div id="blah" class="col-3">
            <h1>Here are the books in our online bookstore</h1>
            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>



</body>
</html>
